input[type="search"].product-search-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="search"].product-search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}